<?xml version="1.0" encoding="UTF-8"?>


<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "EmsVirtualGym"
        version   = "1.0.0">

    <name>Ems Virtual Gym</name>
	

    <author href="http://gcccs.org/emsgym/" gap:copyright="Copyright 2013">dotjar team</author>
 
    <preference name="permissions" value="none"/>
	
	
	
    <preference name="phonegap-version" value="2.9.0" />          
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" /> 
    <preference name="fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />

	
	
    <icon src="icon.png" />
   
    <gap:splash src="splash.png" />
  
	<feature name="Device">
        <param name="android-package" value="portrait" />
    </feature>

	
    <access origin="http://127.0.0.1*"/>

</widget>
